<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dmslabs.python.smsUPS</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/dms/Dropbox/dms/Source-py/smsUps/bin/python3</string>
        <string>/Users/dms/Dropbox/dms/Source-py/smsUps/smsUps.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/dms/Dropbox/dms/Source-py/smsUps/</string>
    <key>StandardErrorPath</key>
    <string>/var/tmp/smsUPS.error</string>
    <key>StandardOutPath</key>
    <string>/var/tmp/smsUPS.txt</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>Debug</key>
    <true/>
</dict>
</plist>